
html{
  font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mouse Memoirs';
    background-color: #462a68;
    color: rgb(224, 208, 118);
    /* word-spacing: 2px;
    letter-spacing: 2px; */
}
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   .navbar :hover{
    color: gold;
   }

   /* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0rem;
  padding-top: 0rem;
  width: 0rem;
   }
   .nav-links a {
    color: #9C7E46;
   }
   .navbar li{
    display: inline-block;
   }
   /* LOGO */
   .logo {
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: 1rem;
   }
   .logo img{
    width: 6rem;
    padding-right: 0.5rem;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 0rem;
    font-size: 2rem;
   }
   .menu li {
    padding: 1rem 4rem 1rem;
   }
   .regi{
    display: flex;
    color: #452865;
    margin-bottom: 0rem;
   }
   .container{
    display: flex;
   }
   .v{
    position: relative;
    width: 30rem;
   }
   .p{
    position: relative;
    width: 30rem;

   }
.bw{
  display: block;
  margin-top: 1rem;
  width: 43rem;
  height: 26rem;
  border-radius: 12rem;
   
}
.bw {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;  
    }

    .bw:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }

    h2{
      text-align: center;
      
    }
